.container {
  background: #1f2937;
  margin: -12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tab {
  max-height: 100vh;
  overflow: auto;
}

.nodata-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 480px;
  width: 100%;
  font-size: xx-large;
  font-weight: 100;
  color: rgb(116, 116, 116);
}
